<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>hello</h1>

<script>

    console.log("test")

    fetch("http://iflowerv2.us-east-1.elasticbeanstalk.com/api/public/flowers?page=1&size=10")
        .then(re=>{
            return re.json()
        })
    .then(date=>{
        console.log(date)
    })

    // fetch("http://iflowerv2.us-east-1.elasticbeanstalk.com/api/flowers", {
    fetch("http://iflowerv2.us-east-1.elasticbeanstalk.com/api/admin/flowers", {
        method: "POST",
        headers: {
            'Content-Type': 'application/json',
            'Authorization':'Bearer_eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJudXBhQGdtYWlsLmNvbSIsInJvbGVzIjpbIlJPTEVfQURNSU4iXSwiaWF0IjoxNjQzMDE0MjY4LCJleHAiOjE2NDY2MTQyNjh9.wKxomXGEOxF3wxzf1vDD0IGmCgrizrT2mxlbX_j7eVg'
        },
        body: JSON.stringify(
            {
                "name": "nupapupa",
                "description": "string",
                "price": 0,
                "rating": 0,
                "available": true,
                "imageNames": [
                    "string"
                ]
            }
        )
    })
    //
    //
    // })
    //     .then(s=>{
    //     return s.json();
    // }).then(data=>{
    //     console.log(data)
    // })
</script>
</body>
</html>